<div class="container">
	
	{% for node in site.posts limit:6 %}
	<div class="content">
		<div id="post" class="post type-post status-publish format-standard hentry category-blog tag-design-2 tag-space blog-post clearfix"> 
			
			<a class="blog-image" href="{{page.url}}" title="{{page.title}}"><img width="{{page.postimg_w}}" height="{{page.postimg_h}}" src="{{ BASE_PATH }}/assets/{{page.postimg_src}}" class="attachment-blog-image wp-post-image" alt="{{page.postimg_alt}}" /></a>
			
			<div class="blog-text">
				<div class="blog-entry">
					<div class="blog-content">
					
						<!-- main content -->
						{{content}}
						<!-- end main content -->
					
					</div><!-- end blog-content -->
				</div><!-- end blog-entry -->
			</div><!-- end blog-text -->

			<div class="blog-meta">
	
				<!-- metadata date/categories/tags -->
				<ul class="meta-links">
					<li>{{page.date | date_to_string }}</li>
					<li>{{node.author }}</li>
					<li><a href="{{page.url}}#disqus_thread" data-disqus-identifier="{{page.id}}"></a></li>
				</ul>


				<!-- metadata sharing links -->
				
				<ul class="meta-links">
					<li class="share-title">Share:</li>
					<li class="twitter"> <a onclick="window.open('http://twitter.com/home?status={{page.title}} - {{page.url}}','twitter','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;" href="http://twitter.com/home?status={{page.title}} - {{page.url}}" title="The Great Browser Experiment" target="blank">Twitter</a></li>
					<li class="facebook"> <a
				onclick="window.open('http://www.facebook.com/share.php?u={{page.url}}','facebook','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;" href="http://www.facebook.com/share.php?u={{page.url}}" title="{{page.title}}"  target="blank">Facebook</a></li>
					<li class="googleplus"> <a
				class="share-google" href="https://plus.google.com/share?url={{page.url}}" onclick="window.open('https://plus.google.com/share?url={{page.url}}','gplusshare','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;">Google+</a></li>
				</ul>
			</div><!-- end blog meta -->
		</div><!-- end post -->

	</div><!-- end content -->
	
{% endfor%}

<!-- ~^~ SIDEBAR ^~^~^~^~^~^~^~^~^~ -->
	<a id="sidebar-close" href="#" title="close"></a>


	<div id="sidebar">

		<div id="okay_recent_portfolio-2" class="widget widget_okay_recent_portfolio">
			<h2>See Also</h2>
		</div>

	</div>
	<div class="clear"></div>
</div>

