

<!-- slider -->
<!-- include flexslider -->
{% include custom/slate/flexslider %}
<!-- end slider -->

<!-- testimonials/quote -->
<div class="section section-testimonials">
	<div class="section-title">
		<span>We solve shared problems</span>
	</div>
	<div id="testimonial-slider" class="flexslider">
		<ul class="testimonials slides">
			<li id="text-7" class="widget_text">
				<div class="textwidget">
					<h3>
Humanitarian Innovation Lab at Camp Roberts: <br />we challenge crisis responders to co-design solutions to shared problems in communications &amp; coordination and to integrate new grassroots voices into decision making.
					</h3>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- end testimonials/quote -->

<!-- services -->
{% include custom/slate/servicestext %}
<!-- end services -->

<!-- blog section  3 col blocks -->
{% include custom/slate/blog_panels %}
<!-- end blog section 3 col -->

<!-- portfolio -->
{% include custom/slate/portfolio_home %}
<!-- end portfolio -->

<!-- portfolio -->
{% include custom/slate/reports_panels %}
<!-- end portfolio -->








