<!-- container -->

  <div class="container">
    <div class="page-title page-title-portfolio">
      <div class="portfolio-titles">
        <h2><a href="http://themes.okaythemes.com/slate/portfolio-item/a-view-from-my-standing-desk/">A View From My Standing Desk</a></h2>
      </div>
	
	<!-- portfolio nav -->

      <div class="project-nav"> <span
class="prev-project"><a
href="http://themes.okaythemes.com/slate/portfolio-item/dead-head-animated-video/" rel="prev"><span><i
class="icon-caret-left"></i> Previous</span></a></span> <span
class="next-project"><a
href="http://themes.okaythemes.com/slate/portfolio-item/modern-branding-package/" rel="next"><span>Next <i
class="icon-caret-right"></i></span></a></span></div>
    </div>

	<!-- end portfolio nav -->


	
	<!-- portfolio slider -->
    <div class="portfolio-big-slide">
      	<div class="portfolio-block-large clearfix"> <a href="http://themes.okaythemes.com/slate/portfolio-item/a-view-from-my-standing-desk/" title="A View From My Standing Desk" class="portfolio-large-image"><img width="980" height="607" src="http://cdn4.okaythemes.com/slate/files/2013/03/DSCF0492.jpg" class="attachment-large-image wp-post-image" alt="DSCF0492" /></a>
		</div>
    </div>
	<!-- end portfolio slider -->

    <div class="content content-tablet">
      <div class="blog-entry">
        <div class="blog-content">
          	<div class="intro">A desk is a generally wooded piece of furniture and a type of useful table often used in a school or office setting for various academic activities such as reading or writing on or using a computer.
			</div><!-- end intro -->

          <p>Desks often have one or more drawers, compartments, or pigeon holes to store office supplies and papers. Unlike a regular table, usually only one side of a desk is suitable to sit on. Not all desks have the form of a table.</p>
          <p>For instance, an armoire desk is a desk built within a large wardrobe-like cabinet, and a portable desk is light enough to be placed on a person&#8217;s lap. Since many people lean on a desk while using it, a desk must be sturdy.</p>
        </div><!-- end blog-content-->
      </div><!-- end blog entry -->
    </div><!-- end content-->

	<!-- portfolio sidebar -->
    <div class="portfolio-sidebar">
      <div class="portfolio-meta">
        <h3>Project Details</h3>
        <ul class="portfolio-meta-links">
          <li> <span>Date:</span> March 8, 2013</li>
          <li><span>Category: </span><a
href="http://themes.okaythemes.com/slate/categories/branding/" rel="tag">Branding</a><br/>
            <a
href="http://themes.okaythemes.com/slate/categories/photography/" rel="tag">Photography</a></li>
        </ul>
      </div><!-- end portfolio meta -->
    </div><!-- end portfolio sidebar -->
  </div><!-- end page-title -->
  <div class="clear"></div>